html
  head
    title= title
  body
    table 
      tr
        td(align='center', valign='center')
          dl
            dt=name
            dt=animal
            dd= description
          br
          | <img src="#{profile_pic}">

